.main{
    margin-left: 380px;
    margin-top: 100px;
    height: 420px;
    width: 600px;
    background-color: black;
}
h1{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 15px;
    letter-spacing: 6px;
    font-weight: 300;
    font-size: 43px;
}


#clockContainer {
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 7px;
    margin-top: 50px;
}

#dateContainer {
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    align-items: center;
    margin-top: 30px;
    
}

#mainContainer {
    text-align: center;
    color: cyan;
    width: 500px;
}

#set {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    margin-top: 22px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    font-size: medium;
    border-radius: 5px;

}
.btn2{
    margin-top: 22px;
    margin-left: 20px;
    padding: 10px 20px 10px 20px;
    font-weight: 700;
    font-size: medium;
    border-radius: 5px;

}